#nav li {
  display: inline-block;
  position: relative;
}

#nav li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#nav li:hover a {
  text-decoration: underline;
}

#nav .sub-nav {
  display: none;
  position: absolute;
  background-color: white;
}

#nav .sub-nav a {
  color: rgb(168, 82, 82);
  line-height: 28px;
}

#nav li:hover .sub-nav {
  display: block;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-image: url("https://sackim.com/wp-content/uploads/2020/01/1.jpg");
  background-size: cover;
}

#clip {
  // margin-left: 600px;
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
  font-size: x-large;
  margin-top: 20px;
  color: rgb(61, 78, 70);
  text-shadow: 10px 10px 10px rgb(80, 59, 53);
  font-weight: bold;
}

.hihi {
  display: flex;
  justify-content: center;
}

.hehe {
  width: 100px;
  height: 100px;
}

.body {
  background-image: url("https://guantanamocity.org/wp-content/uploads/2020/12/background-4k-cuc-dep-cho-hoc-zoom-0.jpg");
  background-size: cover;
}
