.img {
  width: 250px;
  height: 150px;
  background-color: white;
}

h4 {
  font-size: 20px;
  color: rgb(185, 72, 140);
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

h3 {
  color: red;
  text-align: center;
}

.box {
  border: solid 3px violet;
  width: fit-content;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin-top: 20px;
  height: 415px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUVkUaUbTuNvTrE2WVIVwBzWr7ti018w-hEw&usqp=CAU");
  background-size: cover;
}

.item {
  margin-left: 50px;
}

.button {
  margin-left: 89px;
  margin-top: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(211, 35, 64);
}

p {
  color: white;
  margin-left: 90px;
}
