<div class="container">
	<h1>shopping Cart</h1>
	<div class="cart">
		<div class="products">
			<div class="product">
				<img src="../../../../../assets//Image/2.png" alt="">
				<div class="product-info">
					<h3 class="product-name">New Ducati</h3>
					<h4 class="product-price">80 Triệu</h4>
					<h4 class="product-offer">50%</h4>
					<p class="product-quantity">Qnt: <input value="1"
					name=""></p>
					<p class="product-remove">
						<span class="material-icons">
							delete
						</span>
					</p>
				</div>
			</div>

			<div class="product">
				<img src="../../../../../assets//Image/4.jpg" alt="">
				<div class="product-info">
					<h3 class="product-name">New Ducati</h3>
					<h4 class="product-price">80 Triệu</h4>
					<h4 class="product-offer">50%</h4>
					<p class="product-quantity">Qnt: <input value="1"
					name=""></p>
					<p class="product-remove">
						<span class="material-icons">
							delete
						</span>
					</p>
				</div>
			</div>

			<div class="product">
				<img src="../../../../../assets//Image/3.png" alt="">
				<div class="product-info">
					<h3 class="product-name">New Ducati</h3>
					<h4 class="product-price">80 Triệu</h4>
					<h4 class="product-offer">50%</h4>
					<p class="product-quantity">Qnt: <input value="1"
					name=""></p>
					<p class="product-remove">
						<span class="material-icons">
							delete
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="cart-total">
			<p>
				<span>Total Price</span>
				<span>300triệu</span>
			</p>

			<p>
				<span>Number of Items</span>
				<span>300triệu</span>
			</p>

			<p>
				<span>You Save</span>
				<span>300triệu</span>
			</p>
			<a href="#">Procees to checkout</a>
		</div>
	</div>
</div>