<div class="banner">
    <div class="header">
        <a style="color: white; text-decoration: none" href="https://help.divineshop.vn/huong-dan-thanh-toan">
            <mat-icon>assistant</mat-icon>Hướng dẫn mua hàng
        </a>
        <a style="color: white; margin-left: 20px; text-decoration: none"
            href="https://help.divineshop.vn/uu-dai/giam-gia-25k-vi-vnpay">
            <mat-icon> attach_money</mat-icon>Ưu đãi khách hàng
        </a>
        <a style="color: white; margin-left: 20px; text-decoration: none"
            href="https://help.divineshop.vn/chinh-sach-bao-hanh/lien-he-va-ho-tro">
            <mat-icon> call</mat-icon>Thông tin liên hệ
        </a>
    </div>
    <div class="mid">
        <div class="login">
            <img class="theme" src="https://cdn.divineshop.vn/static/b1402e84a947ed36cebe9799e47f61c2.svg" />
            <h4 class="h4" routerLink="/home">Divine Shop</h4>
        </div>

        <div class="hehe">
            <input style="margin-top: 50px; height: 34px; " type="text" placeholder="Tìm kiếm game" />
            <button style="height: 34px;" type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </div>

        <div class="hehe">

            <mat-icon style="font-size: 39px; margin-right: 20px">person</mat-icon>
            <button style="margin-top: 50px; height: 34px" type="submit">Đăng nhập</button>
            <button style="margin-top: 50px; height: 34px" type="submit">Đăng kí</button>
        </div>

        <div class="hehe">
            <button routerLink="/shopping_cart" style="margin-top: 50px; height: 34px; " type="submit"><a
                    style="text-decoration: none; color: black">
                    <span class="material-icons">shopping_cart</span>Giỏ hàng</a></button>
        </div>
    </div>
    <div class="bot">
        <a style="color: white; text-decoration: none; margin-left: 100px;"
            href="https://divineshop.vn/search/viewed">Sản phẩm bạn
            vừa xem</a>
        <a style="margin-left: 90px; color: white; text-decoration: none"
            href="https://divineshop.vn/search/trending">Sản phẩm mua
            nhiều</a>
        <a style="margin-left: 90px; color: white; text-decoration: none" href="https://divineshop.vn/search/sale">Sản
            phẩm khuyến
            mại</a>
        <a style="margin-left: 90px; color: white; text-decoration: none"
            href="https://help.divineshop.vn/huong-dan-mua-hang/nap-tien/giao-dich-truc-tiep">Đại lý giao
            dịch</a>
        <a style="margin-left: 90px; color: white; text-decoration: none"
            href="https://help.divineshop.vn/gioi-thieu/chinh-sach-vip">Hình thức thanh toán</a>
    </div>
</div>