<div class="body">
    <ul id="nav">
        <li>
            <a style="text-decoration: none;" href="">
                <img width=21px src="../../../assets/img/g9.png" />Danh mục sản phẩm</a>
            <ul class="sub-nav">
                <li><a style="text-decoration: none" href="">Giải trí</a></li>
                <li><a style="text-decoration: none" href="">Gói Data Mobile </a></li>
                <li><a style="text-decoration: none" href="">Game Steam</a></li>
                <li><a style="text-decoration: none" href="">Game Origin</a></li>
                <li><a style="text-decoration: none" href="">Steam Wallet</a></li>
                <li><a style="text-decoration: none" href="">Xbox Gift Card</a></li>
            </ul>
        </li>
        <li><a style="padding-left: 400px;" href="https://divineshop.vn/search?tag=moiviec">
                <img width=21px src="../../../assets/img/g8.png" />Nạp thẻ và tiện ích</a></li>
        <li><a style="padding-left: 40px;" href="https://help.divineshop.vn/gioi-thieu/chuong-trinh-gioi-thieu-ban-be">
                <img width=21px src="../../../assets/img/g10.png" />Giới thiệu bạn bè</a></li>
        <li><a style="padding-left: 40px;"
                href="https://docs.google.com/forms/d/e/1FAIpQLSdsN84o3rQhofXqLY9MxTkyeWGq7-7PRDldNu5w59LGCgnndg/viewform">
                <img width=25px src="../../../assets/img/g11.png" />Liên hệ hợp tác</a></li>
        <li><a style="padding-left: 40px;" href="https://help.divineshop.vn/gioi-thieu/chinh-sach-vip">
                <img width=30px src="../../../assets/img/g12.png" />Ưu đãi khách hàng VIP</a></li>
    </ul>
</div>