<div class="contaitor">
    <div id="tieude">
        <div id="thanh">
        <div id="thanhtrangchu">
            <nav id="chon" >
                <a routerLink="/home">STORE</a> 
                <a href="https://www.epicgames.com/site/en-US/epic-games-store-faq">FQA</a> 
                <a >HELP</a> 
                <a href="https://www.unrealengine.com/en-US/">UNREAL ENGINE</a> 
            </nav>
        </div>
        <div id="dk">
            <div class="column" >
                <h2>DOWNLOAD</h2>
              </div> 
              <div class="column" >
                <h2>SIGN IN</h2>
              </div>
        </div>
        </div>
        <div id="search">
            <img src="../../../assets/Epic_Games_logo.png" alt="logo epicgam" id="logo" (click)="navigate('/home')">
            <div id="box">
                <input type="text" placeholder="Search">
            </div>
        </div>
    </div>
    </div>