.container{
    width: 100%;
    height: 100%;
    background-color: white ;
    //  display: flex;
    text-align:center;
    margin: 10% 10% 10% 10%;
    justify-content: center;
}
.item{
    width: 100%;
    background-color: white;
    border: 2px solid black;
  }
  .item:hover,.item:active{
    box-shadow: rgba(82 139 139) 1px 1px 1px 1px, rgba(82 139 139) 1px 1px 1px 1px, rgba(82 139 139) 0px 0px 0px inset;
    // box-shadow: 5px 10px;
  }
.imag{
    width: 100%;
    height : 50% ;
    // border-radius:2%;
    // border-bottom-right-radius: 2px;
    // border-bottom-left-radius: 2px;
    // border-top-left-radius: 2px;
    // border-top-right-radius: 2px;
  }
  .namegame{
    font-size: 20px;
    text-align:left;
    color: black;
    margin:7px 0px 0px 10px;
    white-space: nowrap; 
    // width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    // border: 1px solid #000000;
}
.pirce{
    font-size: 18px; 
    color: black;
    text-align:right;
    margin:10px 10px 15px 0px
}
.buttbuy{
    width: 40%;
	height : 10%;
  	background-color: 	#FF8C00;
  	font-size: 20px;
    font-weight: bold;
  	text-align:center;
  	border-radius:5%;
    outline:  none;
    margin-bottom: 8%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

