.container{
    width:80% ;
    height: 100% ;
    // display: flex;
    margin: 3% 10% 0% 7%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // margin: 10px 10px;
}

  