<p>
    <mat-toolbar class="nav" >
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="color: rgb(19, 21, 143); cursor: pointer; ">menu</mat-icon>
      </button>
      
      <span class="example-spacer"></span>
      <span routerLink="" style="margin-right: 30px; color: rgb(22, 5, 66);cursor: pointer;font-size: larger;color: rgb(0, 0, 0);">TT FIGURE</span>
      <mat-icon *ngIf="!user" routerLink="login" (click)="login()">  login </mat-icon>
      <mat-icon *ngIf="user" style="cursor: pointer;" (click)="logout()">  logout </mat-icon>
    </mat-toolbar>
  </p>
  <div class="sort">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Find your favorite FIGURE" value="">
    </mat-form-field>
  </form>
    <div class="dropdown">
      <button class="dropbtn">Sort</button>
      <div class="dropdown-content">
        <a href="#">By Name</a>
        <a href="#">By Price</a>
        <a href="#">By Like</a>
      </div>
      <button>Stock</button>
      <button routerLink="/cart" >Cart</button>
    </div>
  </div>
  
  
