<div id="top">
    <img id="img" src="../../../assets/images/fo4.png">
    <p style="font-size: 50px;text-align: center;color: black;margin-bottom: 50px;">Web bán game fifa online 4</p>
    <div id="nutbam">
        <button (click)= "navigate('/home')" matTooltip="Trở về trang chủ" id="nut">Trang Chủ</button>
        <button matTooltip="Vòng quay may mắn" id="nut">Vòng quay may mắn</button>
        <button (click)= "navigate('/randow')" matTooltip="Nick Randow"  id="nut">Nick Randow Acc</button>
        <button (click)= "navigate('/login')" matTooltip="Đăng nhập"  id="nut">Đăng nhập</button>
        <button (click)= "navigate('/register')" matTooltip="Đăng ký" id="nut">Đăng ký</button>
    </div>
</div>