body{
   
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);
}
.may_tinh{
    width:320px;
    height:520px;
    background-color: #eaedef;
    top:20px;
    margin:0 auto;
    position:relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.ket_qua{
    height: 120px;
}
.ket_qua_cu{
    text-align: right;
    height:20px;
    margin:0 20px;
    padding-top:20px;
    font-size:15px;
    color:#919191;
}
.xuat_ket_qua {
    text-align: right;
    height:60px;
    margin: 10px 20px;
    font-size: 30px;
}
.ban_phim{
    height: 400px;
}