.container{
    height: auto;
    width: fit-content;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    text-align: center;   
}
#tong{
    font-size: 30px;
    width: 400px;
    height: 100px;
    margin-bottom: 17px;
    margin-left: 450px;
    border-radius: 17px;
    cursor: all-scroll;
    text-align: center;
}