.body {
    margin: 20px 100px 20px 100px;
    color: white;
    height: 68vh;
    background-color: white;
    display: flex;
}

.left {
    width: 62%;
    height: 68vh;
    background-color: aqua;
}

.right {
    width: 38%;
    height: 68vh;
    background-color: black;
}