.box{
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	animation: move 5s;
	scroll-behavior: smooth;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes move {
	0% {top: 0px; left: 0px;}
	25% {background-color: yellow; top:0px; left: 500px;}
	50% {background-color: orange; top: 400px; left: 500px;}
	75% {background-color: green; top:400px; left: 200px;}
	100% {background-color: skyblue; top: 150px; left:200px;}
	120% {background-color: antiquewhite; left: 150px;}
	140% {background-color: antiquewhite; 
	}


	
	


	



}

