.theme {
  width: 100px;
}

.banner {
  background-color: blue;
  height: 200px;
  
}

h4 {
  font-size: 20px;
  color: black;
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
}
.header {
  margin-left: 900px;
}

.h4 {
  color: white;
  margin-top: 50px;
}

.mid {
  display: flex;
}

.header {
  margin-left: 900px;
}

.hehe {
  margin-left: 200px;
}

.login {
  display: flex;
  margin-left: 50px;
}

.bot {
  margin-top: 20px;
}
