body{
    background-color: rgba(0, 0, 0, 0.74);
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    width: 100vw;
    height: 1500px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#header{
    background-color:black;
    height: 10%;
    width: 100%;
}

#main{
    height: 60%;
    width: 100%;
}

#footer{
    background-color: black;
    height: 30%;
    width: 100%;
}


#char{
    display:flex;
}
/* .picture{
    width : 10%;
    height: 100%;
    margin: 1% 0 0 0;
} */
#icongroup{
    display:flex;
    height: 50%;
    width: 100%;
}
#icon1{
    display: flex;
    width : 10%;
    height: 50%;
    margin: 1% 1% 1% 1%;
}
#icon2{
    display:flex;
    width : 10%;
    height: 70%;
    margin: 1% 1% 1% 1%;
}
#icon3{
    display:flex;
    width : 10%;
    height: 70%;
    margin: 1% 1% 1% 30%;
}