<div class="header">
	<a href="#" class="logo">
		<img src="./../../../assets/Image/ducatilogo.jpg" alt="">
	</a>
		
	<div class="navbar">
		<a routerLink="/home">home</a>
		<a routerLink="/cart">cart</a>
		<a href="models">models</a>
		<a href="products">Products</a>
		<a href="#review">review</a>
		<a href="#contact">contact</a>
		<a href="#blogs">blogs</a>
	</div>

	<span class="material-icons">
		search
	</span>

	<div class="icon">
		<span class="material-icons">
			{{this.User.displayName}}
		</span>
	</div>
	
	<button (click)="signIn()">Accept</button>
	<button (click)="logout()">Đăng xuất</button>

</div>



 <!-- <div class="products">
	<h1 class="heading"><span>products</span>

	</h1>
	<div class="box-container">
		<div class="box">
			<div class="image">
				<img src="./../../../assets/Image/Model-Menu-MY20-Panigale-V4-Red (1).png" alt="">
			</div>

			<div class="content">
				<h3>Ducati</h3>

				<div class="box_price">
					<div class="price">70 trieu</div><span>100 trieu</span>
					<a href="#" class="btn">mua hang</a>
				</div>

			</div>

			<div class="App_counter">
				<app-counter></app-counter>
			</div>

			<div class="btn__box">Buy</div>
		</div>

		<div class="box">
			<div class="image">
				<img src="./../../../assets/Image/2.png" alt="">
			</div>

			<div class="content">
				<h3>Ducati</h3>

				<div class="price">100 trieu</div><span>120 trieu</span>
				<a href="#" class="btn">mua hang</a>
			</div>

			<div class="App_counter">
				<app-counter></app-counter>
			</div>

			<div class="btn__box">Buy</div>
		</div>

		<div class="box">
			<div class="image">
				<img src="./../../../assets/Image/3.png" alt="">
			</div>

			<div class="content">
				<h3>Ducati</h3>

				<div class="price">85 trieu</div><span>100 trieu</span>
				<a href="#" class="btn">mua hang</a>
			</div>

			<div class="App_counter">
				<app-counter></app-counter>
			</div>

			<div class="btn__box">Buy</div>
		</div>

		<div class="box">
			<div class="image">
				<img src="./../../../assets/Image/4.jpg" alt="">
			</div>

			<div class="content">
				<h3>Ducati</h3>

				<div class="price">100 trieu</div><span> 120 trieu</span>
				<a href="#" class="btn">mua hang</a>
			</div>
			
			<div class="App_counter">
				<app-counter></app-counter>
			</div>

			<div class="btn__box">Buy</div>
		</div>

		<div class="box">
			<div class="image">
				<img src="./../../../assets/Image/950s.png" alt="">
			</div>

			<div class="content">
				<h3>Ducati</h3>

				<div class="price">22 trieu</div><span>35 trieu</span>
				<a href="#" class="btn">mua hang</a>
			</div>

			<div class="App_counter">
				<app-counter></app-counter>
			</div>
			
			<div class="btn__box">Buy</div>
		</div>
	</div>
</div> -->

