form {
  background: tomato;
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  border-radius: 40px;
}

form * {
  box-sizing: border-box;
}

form table {
  width: 100%;
  border-collapse: collapse;
  background-color: #444;
  border-radius: 20px;
}

form table tr,
form table td {
  border: 1px solid #eee;
}

form table tr:first-child input {
  height: 50px;
  padding: 0 10px;
  font-weight: 700;
}

form table tr:not(:first-child) td {
  height: 70px;
}

form table tr:not(:first-child) td input {
  height: 100%;
}

form table input {
  width: 100%;
  display: block;
  border: 0;
  font-size: 16px;
  background-color: rgb(109, 62, 153);
  color: greenyellow;
}

form table input:focus {
  outline: none;
}

form table input:hover {
  background: rgb(194, 30, 30);
  transition: all 0.2s ease-in-out;
}

form table input.operator {
  font-weight: 700;
  color: greenyellow;
  background: rgb(45, 12, 99);
}
