<mat-toolbar color="primary">
    <button mat-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <span>LEGENDCMOC</span>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="top">
    <img class="logo" src="../assets/logo4.png" alt="">
</div>
<div class="select">
    <button class="login1" style="font-size:x-large;background-color: rgba(0, 0, 0, 0.815);width: 100%;height: 50px;;">Log in</button>
    <button class="home1" style="font-size:x-large;background-color: rgba(0, 0, 0, 0.815);width: 100%;height: 50px;;">Home</button>
    <button class="shop1" style="font-size:x-large;background-color: rgba(0, 0, 0, 0.815);width: 100%;height: 50px;;">Shop</button>
    <button class="more1" style="font-size:x-large;background-color: rgba(0, 0, 0, 0.815);width: 100%;height: 50px;;">More</button>
</div>
<div class="duoiselect"></div>
<app-list-items></app-list-items>
<router-outlet>
</router-outlet>