<form>
    <div id="fontdk">
        <div id="font">
             <br>
             <br>
             <p id="chaomung">Đăng ký tài khoản</p>
             <div id="d">
                 <div>
                     <input type="text" value placeholder="  Tài khoản" class="form">
                     <br>
                     <input type="text" value placeholder="  Nhập địa chỉ email" class="form">
                     <br>
                     <input type="text" value placeholder="  Nhập số điện thoại" class="form">
                     <br>
                     <input type="text" value placeholder="  Nhập mật khẩu" class="form">
                     <br>
                     <input type="text" value placeholder="  Nhập lại mật khẩu" class="form">
                 </div>
                 <div class="button">
                     <button class="dangky" type="submit">Đăng ký</button>
                 </div>
                 <div>
                     <table>
                         <tr>
                             <td id="gach">&nbsp;</td>
                             <td rowspan="2" id="hoac">hoặc</td>
                             <td id="gach">&nbsp;</td>
                         </tr>
                         <tr>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                         </tr>
                     </table>
                 </div>
                 <div class="button">
                     <button class="fb" type="submit">Đăng nhập bằng FaceBook</button>
                 </div>   
             </div>    
         </div>    
     </div>
</form>
<div id="bottom">
    <div id="gioithieu">
        <br>
        <p><b>GiỚI THIỆU WEBBANACCFO4.COM</b></p>
        <hr style="color: blue;border-style: double;">
        <p>Web bán acc fifa online 4 uy tin<br>Bán Nick theo đội hình câu lạc bộ<br>đội tuyển 100% giá rẻ</p>
        <hr style="color: blue;border-style: double;">
        <p>Giới thiệu</p>
        <p>Hướng dẫn mua acc fifa<br>Liên hệ/Góp ý</p>
    </div>
    <hr style="color: blue;border-style: double;">
    <div id="lienhe">
        <br> <br>
        <p><b>Thông tin liên hệ</b></p>
        <hr style="color: blue;border-style: double;">
        <ol>
            <li>Hotline:01234567(Admin)</li>
            <li style="margin-top: 10px;">Email:webnbanaccfo4@gmail.com</li>
            <li style="margin-top: 10px;">Hỗ trợ :24h</li>
        </ol>
        
    </div>
    <hr style="color: blue;border-style: double;">
    <div id="thongke">
        <br>
        <p><b>Thống kê</b></p>
        <hr style="color: blue;border-style: double;">
        <p>Tổng Acc đã bán:100000<br></p>
        <p>Tổng Acc đang còn:120</p>
    </div>
    <hr style="color: blue;border-style: double;">
    <div id="dichvu">
        <br>
        <p><b>Dịch vụ khác</b></p>
        <hr style="color: blue;border-style: double;">
        <p>Xây dựng đội hình fo4 theo yêu cầu</p>
        <p>Hỗ trợ bảo mật thông tin acc</p>
    </div>
</div>
<div id="shopacc">
    <p style="font-size: 20px;"><b>WebnBanAccFo4 @ 2022 v2.5 Bản quyền thuộc về webnbanaccfo4.com Được thiết kế webnbanaccfo4.com</b></p>
</div>