.left{
    float: left; 
    width: 30%; 
    height: 100%; 
    margin-left:470px;
}

.right{
    float: right;
    width: 30%;
    height: 100%;
    margin-left: 70px;
}

.container{
    width: 90%; 
    height: 60vh;  
}

.huhu{
    margin-top:50px;
}