.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    position: relative;
    animation: move 5s;
    scroll-behavior: smooth;
    animation-iteration-count: infinite;
    /* width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s; */
/* }
@keyframes  move {
    0% {
        top: :0px;
        left:0px;


    }
    25%{
        top: 0px;
        left: 200px;

    }
    50%{
        left: 200px;
        top: 200px;
    }
    75%{
        left:0px;
        right: 200px;
        
    }
    100%{
        bottom:200px;
        right:200px;
        top:0px;


    } */

}
@keyframes move {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top: 200px;}
    100% {background-color:red; left:0px; top:0px;}
  }