<form>
    <div id="fontdk">
        <div id="font">
             <br>
             <br>
             <p id="chaomung">Đăng ký tài khoản</p>
             <div id="d">
                 <div>
                     <input type="text" value placeholder="  Tài khoản" class="form">
                     <br>
                     <input type="text" value placeholder="  Nhập địa chỉ email" class="form">
                     <br>
                     <input type="text" value placeholder="  Nhập số điện thoại" class="form">
                     <br>
                     <input type="text" value placeholder="  Nhập mật khẩu" class="form">
                     <br>
                     <input type="text" value placeholder="  Nhập lại mật khẩu" class="form">
                 </div>
                 <div class="button">
                     <button class="dangky" type="submit">Đăng ký</button>
                 </div>
                 <div>
                     <table>
                         <tr>
                             <td id="gach">&nbsp;</td>
                             <td rowspan="2" id="hoac">hoặc</td>
                             <td id="gach">&nbsp;</td>
                         </tr>
                         <tr>
                             <td>&nbsp;</td>
                             <td>&nbsp;</td>
                         </tr>
                     </table>
                 </div>
                 <div class="button">
                     <button class="fb" type="submit">Đăng nhập bằng FaceBook</button>
                 </div>   
             </div>    
         </div>    
     </div>
</form>