.counter {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }
.button{
    width: 20%;
    height: 10%;
    background-color: #B9D3EE;
}
p{
    width: 20%;
    height: 30%;
padding: 0%;
}