body{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.container{
    background-color: aliceblue;
    margin-left: 200px;
    width: 80%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px;
    position: relative;
  
}
.header{
    margin-left : 50px;
    height: 30%;
    width: 1300px;
    margin-top: 30px;
    display: flex;
    justify-content: left;
}
.photo{
    background-color: rgb(163, 202, 57);
    height: 200px;
    width: 150px;
    padding: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}