<div class="box">
	<div class="image">
		<img [src]="item.imageURL" alt="">
	</div>

	<div class="content">
		<h3>{{item.name}}</h3>

		<div class="box_price">
			<div class="price">{{item.newPrice}} trieu</div><span>{{item.oldPrice}} trieu</span>
		</div>

	</div>

	<div class="App_counter">
		<app-counter [counter]="item.Quantity" (onChangeItem)="item.Quantity = $event" ></app-counter>
	</div>

	<div class="search_form">
		<input type="search" id="search-box" placeholder="Tổng Tiền..." [(ngModel)]="item.Quantity * item.newPrice" >
		<label for="search-box"></label>
	</div>

	<div class="btn__box">Buy</div>
</div>
