<div class="Shop">
   <div class="Header">
    <ul>
        <img class="img" src="../../../assets/logo_nshop_game_hobby_up_web-min_fb5a0e06cf474df693526f68831e2eca.png">
        <li><a href="#N_shop">N shop</a></li>
        <li><a href="#trang_chu">Trang chủ</a></li>
        <li><a href="#san_pham">Sản phẩm</a></li>
        <li><a href="#lien_he">Liên hệ</a></li>
        <li><a href="#dia_chi_shop">Địa chỉ shop</a></li>
        <li><a href="#dat_hang">Đặt hàng</a></li>>
        <input class="search" style="width: 200px; height: 30px;"  type="text" value placeholder="  timkiem:"><br>
        
    </ul>   
  </div>
</div>
