@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

:root{
	--main-color:#FF6400;
	--orange-color: #ee6e73;
	--blue-color: blue;
	--bg: #ff6500;
	--black:#1F1F1F;
	--grey: #9b9b9b;
}
*{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

.btn {
	margin-top: 10px;
	display: inline-block;
	padding: 5px 15px;
	font-size: 1.7rem;
	color: #ccc;
	cursor: pointer;
	background-color: var(--orange-color);
}

.btn:hover {
	letter-spacing: 2px;
}



html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 10rem;
	scroll-behavior: smooth;
}


body {
	background-color: #111;
}

.header {
	background: #010103;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 7%;
	border-bottom: #010103;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header {
	display: inline-block;
}

.header .logo img {
	height: 4rem;
}


.header .navbar a {
	margin: 0 1rem;
	font-size: 1.6rem;
	color: #fff;
}

.header .navbar a:hover {
	color: #cc0000;
	border-bottom: .1rem solid var(--main-color);
	padding-bottom: .5rem;
}

.header .icons {
	right: 34rem;
	position: relative;
	float: right;
	font-size: 2rem;
	margin-left: 2rem;
	color: #fff;
	cursor: pointer;
}

.header .icons div:hover {
	color: var(--main-color);
}

.header .search-form {
	position: absolute;
	top: 85%;
	left: 83rem;
	width: 57rem;
	height: 4rem;
	display: flex;
	align-items: center;
}

.header .search-form input {
	padding: 1rem;
	text-transform: none;
	height: 60%;
	width: 45%;
	font-size: 1rem;
}

.header .search-form input:hover {
	color: #ccc;
}

.header .button {
	display: block;
	font-size: 2rem;
	float: right;
}

.header .button:hover {

}

.Title {
	color: #fff;
	min-height: 33vh;
	padding: 254px;
}

.about {
	margin: 0;
	padding: 60px 50px;
	background-color: var(--black);
	border-radius: 5px;
	line-height: 1.35rem;
}

.about .card {
	display: block;
	display: flex;
	margin: 3px;
}

.about .card .content h4 {
	color: var(--grey);
	font-size: 10px;
}

.about .card .content .inputBox {
	margin:.5rem;
}

.content span {
	display: inline-block;
	color: #fff;
}






