.item {
    width: 50vh;
    height: 80%;
    margin: 10vh;
    /* border-style: solid; */
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    justify-content: space-between;
    background-color: white;
}

.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
    background-color: rgb(247, 247, 247);
}

#image {
    height: 25vh;
    width: 50vh;
}

#name {
    font-size: 2vh;
    text-align: center;
    font-weight: bold;
}

#price {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

.btn-mua {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

#btn:hover {
    background-color: lightgrey;
}