<div class="charge">
    <p style="color: red;">SL:{{SL}}</p>
    <div class="counter">
        <button mat-raised-button style=" width: min-content;background-color: black;color: yellow;" (click)="decrement()">-</button>
        <button mat-raised-button style="background-color: black;color: white; font-size: larger;margin-top: 2px;">{{couter}}</button>
        <button mat-raised-button style="width: fit-content;background-color: black;color: yellow;" (click)="increment()">+</button>
    </div>
    <button  class="btn" (click)="navigate()" > Buy </button>  
</div>
