#bottom{
	width: 100%;
	height :auto;
	background-color:#C0C0C0;
	display: flex;
	flex-wrap: wrap;
}
#gioithieu{
	font-size: 20px;
}
#lienhe{
	font-size: 20px;
	text-align: center;
}
#thongke{
	font-size: 20px;
}
#dichvu{
	font-size: 20px;
}