body{
    
    margin-left: 200px;
    background-color: white;
    width: 800px;
    height: 300px;
}
.container{
    background-color: rgb(232, 238, 236);
    text-align: start;
    text-orientation: upright;
    display: flex;
    width: 60vw;
    height:  80ch;
    margin-left: 100px;
    border-radius: 15px;
    border: 2px solid rgb(197, 194, 194);
    
}
#col1{
    background-color: white;
    width: 60%;
    height: 90%;
}
#col2{
    width: 40%;
    height: 90%;

}
#img{
    width: 60px;
    height: 30px;
    margin-top: 20px;
    padding-bottom: 2px;
}
#logo{
    padding-left: 2%;
}
.Name{
    padding-left: 15px;
    border-radius: 5px;
}
#passWord{
    margin-top: 30px;
}
#button{
    margin-top: 80px;
    padding-left: 30px;
    display: flex;
}
#nextBtn{
    background-color: #4688f1; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 230px; 
    color: white;
    border: none; 
    border-radius: 5px;
    height: 40px;
    width: 100px;
}
