body{
    
    margin-left: 200px;
    background-color: white;
    width: 800px;
    height: 300px;
}
.container{
    background-color: rgb(232, 238, 236);
    text-align: start;
    text-orientation: upright;
    display: flex;
    width: 60vw;
    height:  80ch;
    margin-left: 100px;
    border-radius: 15px;
    border: 2px solid rgb(197, 194, 194);
    
}
#col1{
    background-color: white;
    width: 60%;
    height: 90%;
}
#col2{
    width: 40%;
    height: 90%;
    flex: auto;
}
#logo{
    padding-left: 2%;
}
#Ten{
    padding-left: 15px;
}
