.btn{
    background-color: white;
    color: green;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    border-color: rgb(131, 124, 125);
    margin-left: 150px;
    cursor: pointer;
}
.charge{
    display: flex;
}
.counter {
    width: 35px;
    display: flex;
    padding: 0px 0 50px 10px;
    margin-bottom: 30px;
    margin-left: 10px;
}