.counter {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }
.button{
    width: 30%;
    height: 10%;
}
p{
    width: 80%;
    height: 30%;
padding: 10%;
}