
<div class="all">

<div class="container1"  style="display: flex;">
    <div id="col1">
       <div>
           <img src="../../../../../assets/images/ace.jfif" alt="appearance">
       </div >
       <div class="info">
        <h2>Name</h2>
        <p>price</p>
       </div>
            
    </div>
    <div id="col2">
        
            <h3>Total:</h3>
            <button class="pay" style="width: 100%; height: 30%; margin-right: 40px;">Thanh Toán</button>
        
       
    </div>
</div>


</div>