<!-- <form class="example-form" (submit)="submit()" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Question</mat-label>
      <input matInput placeholder="Nhập đáp án" value="" formControlName="soa">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>answer</mat-label>
      <input matInput placeholder="Nhập câu trả lời" value="" formControlName="sob">
    </mat-form-field>
    <button  type="submit">accept</button>
</form> -->

<form class="example-form" (submit)="submit()" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>a</mat-label>
      <input matInput placeholder="Nhập a" value="" formControlName="a">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>b</mat-label>
      <input matInput placeholder="Nhập b" value="" formControlName="b" type="number">
    </mat-form-field>
    <button  type="submit">accept</button>
</form>
