// .duoiselect {
//     width: 100%;
//     height: 100px;
// }
.select {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
}

// .login {
//     width: 25%;
//     height: 50px;
//     display: flex;
// }
.login1 {
    width: 25%;
    height: 50px;
    color: white;
}

// .home {
//     width: 25%;
//     height: 50px;
//     display: flex;
// }
.home1 {
    width: 25%;
    height: 50px;
    color: yellow;
}

// .shop {
//     width: 25%;
//     height: 50px;
//     display: flex;
// }
.shop1 {
    width: 25%;
    height: 50px;
    color: white;
}

// .more {
//     width: 25%;
//     height: 50px;
//     display: flex;
// }
.more1 {
    width: 25%;
    height: 50px;
    color: white;
}

.top {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    margin: auto;
}

.logo {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin: auto;
}

.example-spacer {
    flex: 1 1 auto;
}