.contaitor{
    width: 100%;
	height :20%;
}
#tieude{
	/* width: 1600px; */
	width: 100%;
	height: 100%;
	/* height: 10%; */


	background-color:#222222;
}
#thanh{
	/* width: 1600px; */
	width: 100%;
	height :34%;
	background-color:#333333;
}
#thanhtrangchu{
	/* width: 1000px; */
	width: 60%;
	height :100%;
	background-color:#333333;
  	float: left;
}
#dk{
    width: 30%;
	height :100%;
	background-color:#333333;
  	float: right;
	text-align: center;
}

.column {
  float: right;
  width: 40%;
  height: 55%;
  background-color:#333333;
  font-size:10px;
	color:white;
	font-weight: bold;
  padding:10px;

}
#logo{
  width: 3%;
	height :80%;
  margin: 1% 1%;
  float: left;
}
nav{
	background-color:#333333;
	text-align: left;
  width: 100%;
	height :100%;
  margin: 0% 0% 0% 10%;
}
nav a{
	display:inline-block;
	padding:10px;
	font-size:14px;
	color:white;
	font-weight: bold;
	text-decoration:none;
}
nav a:hover{
	background-color:#1E90FF;
}

#box{
  width: 80%;
	height :60%;
  background-color:#555555;
  border-radius:100%;
  float: left;
  margin: 1.7% 0% 0% 0%;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
}
#box > input{
  width: 80%;
  height: 80%;
  margin-left: 4%;
  margin-top: 0.5%;
  background-color: #555555;
  border: none;
  font-size: 20px;
  outline: none;
  color:white;
}
#search{
  width: 100%;
	height : 50%;
	background-color: #222222 ;
}
i{
	width: 10%;
	height : 10%;
	margin: 1% 0% 0% 1%;
	font-size:48px;
	float:right;
	color: azure;
}
#logo-login{
	width: 60%;
	height :100%;
}