<div class="container">
    <!-- <div *ngFor="let item of List">
        <app-item [item]="item"></app-item>
    </div> -->
    <!-- <div *ngFor="let item of print.List1">
        <app-item [item]="item" (itemChange)="total(item.quantily,$event)"></app-item>
    </div> -->
    <div *ngFor="let item of print.List1">
        <app-item [item]="item" (itemChange)="total(item.quantily,$event)"></app-item>
    </div>
    <p id="tong"><b>Tính tổng tiền: {{thanhTien | number}}</b></p>
    <!-- <button id="tong" (click)="total()">Tổng:</button>
    <div innerHTML = "{{thanhTien}}"></div> -->
</div>