<app-body></app-body>
<div class="big">
    <div class="'left">
        <h2>Danh sách sản phẩm trong giỏ hàng: </h2>
        <h3>3 sản phẩm</h3>
    </div>

    <div class="right">
        <h3>Bạn có mã ưu đãi??</h3>
        <input type="text" placeholder="Mã giảm gia" />
        <button class="button" mat-raised-button color="primary">Áp dụng</button>
        <h3>Bạn muốn tặng cho bạn bè??</h3>
        <input type="text" placeholder="Email người nhận" />
        <button class="button" mat-raised-button color="primary">Áp dụng</button>
        <h3>Thanh toán</h3>
        <p>Tổng giá trị sản phẩm: </p>
        <button class="button" mat-raised-button color="primary">Thanh toán </button>
    </div>
</div>