.counter {
  display: flex;
  justify-content: center;
}

.key {
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.keyy {
  color: white;
  font-size: 20px;
  margin-right: 3px;
}

.button {
  border-radius: 2px;
  height: 30px;
  width: 4px;
  font-size: 25px;
}
